<p><%= link_to 'Back to Merchants near you', merchants_path %></p>

<h3><%= link_to @merchant.name, merchant_path(@merchant) %></h3>

<u>Meals</u>

<%= render partial: @meals, spacer_template: "shared/break" %>
